{% extends "base.html.twig" %}
{% block body %}
    <h2>ScrapeSplorer</h2>
    <table>
        <thead>
        <tr>
            <th>Scraper</th>
            <th>Website</th>
            <th>Record Count</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>ZvgScraper</td>
            <td><a href="https://www.zvg-portal.de/">zvg-portal.de</a></td>
            <td>{{ zvg_entries_count }}</td>
        </tr>
        </tbody>
    </table>
{% endblock %}
